<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dgBoard.mapper.dgBoardMapper">

<!-- list -->
   <select id="dgNoticeBoardList" resultType="com.example.dgBoard.model.dgBoardVo">
   
      SELECT 
            @rownum:=@rownum+1 DG_BOARD_NO,
            DG_BOARD_USER_ID,
            DG_BOARD_TITLE,
            DG_BOARD_CONTENTS,
              DG_BOARD_NUM,
            DG_BOARD_CREATED,
            DG_BOARD_MODIFIED,
            DG_BOARD_CATEGORY,
                DG_BOARD_DEL
      FROM
            DG_BOARD,
            (SELECT @rownum:= 0)TMP
            
      WHERE
            DG_BOARD_CATEGORY = 1 AND
                DG_BOARD_DEL = 'N';
   
   </select>
   
   
<!-- insert -->
   <insert id="dgNoticeBoardInsert" parameterType="com.example.dgBoard.model.dgBoardVo">
            
      INSERT INTO 
                  DG_BOARD(
                           DG_BOARD_NO,
                           DG_BOARD_USER_ID,
                           DG_BOARD_TITLE,
                           DG_BOARD_CONTENTS,
                               DG_BOARD_CREATED,
                           DG_BOARD_MODIFIED,
                           DG_BOARD_CATEGORY) 
      VALUES
                  (0,#{dg_board_user_id} ,#{dg_board_title}, #{dg_board_contents}, NOW(),NOW(),1)
   
   
   </insert>
   
<!--    detail -->
   <select id="dgNoticeBoardDetail" parameterType="int" resultType="com.example.dgBoard.model.dgBoardVo">
   
      SELECT 
            DG_BOARD_NUM,
            DG_BOARD_USER_ID,
            DG_BOARD_TITLE,
            DG_BOARD_CONTENTS,
            DG_BOARD_CREATED,
            DG_BOARD_MODIFIED,
            DG_BOARD_CATEGORY,
            DG_BOARD_DEL
      FROM
            DG_BOARD
            
      WHERE
            DG_BOARD_NUM = #{dg_board_num}
   
   </select>
   
<!-- update -->
   <update id = "dgNoticeBoardUpdate" parameterType= "com.example.dgBoard.model.dgBoardVo">
   
   UPDATE 
         DG_BOARD 
   SET
          DG_BOARD_TITLE = #{dg_board_title}, 
          DG_BOARD_CONTENTS = #{dg_board_contents}, 
          DG_BOARD_MODIFIED = NOW()

   WHERE 
         DG_BOARD_NUM = #{dg_board_num}
   
   </update>
   
<!--    delete -->

   <update id = "dgNoticeBoardDelete" parameterType="int">
   
   UPDATE 
         DG_BOARD 
   SET 
         DG_BOARD_DEL = "Y"
   WHERE 
         DG_BOARD_NUM = #{dg_board_num}

   
   </update>
   
</mapper>