<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.user.mapper.userMapper">

	<select id="UserList" resultType="com.example.user.model.UserVo">
		SELECT  
					* 
		FROM 
					DG_USER
	</select>
	
	<select id="readUser" parameterType="String" resultType="com.example.user.model.UserVo">
	
		SELECT
						*
		FROM
						DG_USER
		WHERE
						DG_USER_ID = #{dg_user_id}		
	</select>
	
	<select id="readAuthority" parameterType="String" resultType="String">
        SELECT 
        				DG_AUTHORITY_NAME 
        FROM 
        				DG_AUTHORITY
        WHERE 
        				DG_USER_ID = #{dg_user_id}
    </select>
	
	<!--  20.08.31 유진 -->
     <!-- 권한 세팅  -->
	<insert id="insertUserAuthority" parameterType="String">
		
		INSERT INTO 
						DG_AUTHORITY(
										DG_USER_ID,
										DG_AUTHORITY_NAME
										) 
		VALUES
						(#{dg_user_id},'USER')
	
	</insert>
	
	<!--   20.08.31 유진 (중복) 나중에 수정할거임-->
    <select id="overlapName" parameterType="com.example.user.model.UserVo" resultType="int">
    	
    	SELECT 
    					COUNT(*) 
    	FROM 
    					DG_USER
    					
    	<if test="dg_user_id != null">
    		WHERE 
    				    DG_USER_ID = #{dg_user_id}
  		</if>

  		
     </select>
	
	<insert id="UserSignUp" parameterType="com.example.user.model.UserVo">
	
	INSERT INTO 
						DG_USER (
									DG_USER_ID, 
									DG_USER_PW, 
									DG_USER_TEL
									) 
	VALUES 
						(#{dg_user_id}, #{dg_user_pw}, #{dg_user_tel})
	
	
	</insert>
	
	
	
	
</mapper>